@import url(http://fonts.googleapis.com/css?family=Nunito+Sans);
.two-columns{
    column-count: 2;
}
image{
    float: right;
    padding: 15px;
}
.container {
    display: flex;
}
.one-column{
    margin-right: 20px;
}

.container-manual * {
    background-color: aqua
}

.manual-one{
    width: 49%;
}
.manual-two{
    position: relative;
    width: 49%;
    bottom: 926px;
    left:580px;
}

h1{
    font-family: serif;
}
h2{
    font-family: sans-serif;
}
h3{
    font-family: "Nunito+Sans";
}