div{
    height: 100px;
    width:100px;
    margin: 100px;
}
.box{
    background-color: aqua;
    transition-duration: 1s;
    transition-property: background-color, border-radius;
}
.box:hover{
    background-color: aliceblue;
    transition-property: background-color, border-radius;
    border-radius: 50%;
}
.skew{
    background-color: green;
    transition-property: transform;
    transition-duration: 1s;
}
.skew:hover{
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
}
.scale-up{
    background-color: yellow;
    transition-property: transform;
    transition-duration: 1s;
}
.scale-up:hover{
    transform:scale(2,2)
}
.scale-down{
    background-color: pink;
    transition-property: transform;
    transition-duration: 1s;
}
.scale-down:hover{
    transform:scale(.5,.5)
}
.change-color{
    background-color: orange;
    transition-property: background-color;
    animation-name: morph-colors;
    animation-duration: 4s;
    /*animation-iteration-count: infinite;
    */
}
.change-color:hover{
    animation-name: morph-back;
    animation-direction: normal;
    transition-property: background-color;
    animation-duration: 4s;
}
@keyframes morph-colors{
    0%{
        background-color: orange;
    }

    25%{
        background-color: orangered;
    }

    50%{
        background-color: red;
    }

    100%{
        background-color: purple;
    }
}
@keyframes morph-back{
     0%{
        background-color: purple;
    }

    25%{
        background-color: red;
    }

    50%{
            background-color: orangered;
    }

    100%{
        background-color: orange;
    }
    @
}